.hero-image {
    background-image: url("../img/IMG_0649.jpeg");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 2px;
    font-weight: bold;
    font-size: 11vw;
    padding-top: 40px;
    margin-top: 20px;
    color: white;
}

body, html {
    height: 100%;
}
  
.main-nav {
	font-size: 16px;
    margin-bottom: 10px;
}

.bio, .routed, .glink {
    font-size: 17px;
    font-size: 2.6vh;
    padding: 0.01em 20px;
   }

.routename {
    padding: 0.01em 20px;
    font-weight: bold;
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;
    width: 90%;
    height: auto;
    border-radius: 10px;
    
}     

.button {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    position: relative;
    padding: 10px 10px;
    font-size: .9em;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);  
}

.main-footer {
    margin-top: 35px;
	text-align: center;
	padding: 1.5em 0;
	background: #d9e4ea;
}

.nav {
        width: 200px; /* Set a width if you like */
      }


.nav a {
    background-color: #eee;
    color: black;
    display: block; 
    padding: 12px;
    text-decoration: none; 
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(118, 118, 118);
}

/* li {
    float: left;
} */
  
li a {
    /* font-size: calc(.3vw + .1.5vh + 3vmin);   */
    font-size: 1.2em;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

/*==========  Mobile First Method  ==========*/


/* Small Devices, Tablets */

.flexparent {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width : 768px) {
    .button {
        font-size: 1.2em;
        margin-bottom: 10px;
        /* margin: 0;
        position: relative;
        left: 110%;  
        transform: translate(-170%, -170%); */
    } 
    
    a {
        font-size: .6em;
    }

    #nav {
        display: flex;
        justify-content: center;
    }

    li {
        float: left;
    }

    img {
        margin-bottom: 0px;
    }  
    .routed {
        margin-top: 0px;
    }
    .main-nav {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .bio, .routed, .glink, .routename {
        padding: 0.01em 40px;
    }
    .flexparent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .flexchild {
        flex: 1 100%;
    }
    .hero-title {
        font-size: 7vw;
        padding-top: 40px;
        margin-top: 20px;
    }
}

/* Large Devices, Wide Screens */

@media only screen and (min-width : 1024px) {
    .button {
        font-size: 1.5em;
        margin-bottom: 10px;
        /* margin: 0;
        position: relative;
        left: 110%;  
        transform: translate(-190%, -190%); */
    }
}

@media only screen and (min-width : 1200px) {
    .button {
        font-size: 1.3em;
        margin-bottom: 15px;
        /* margin: 0;
        position: relative;
        left: 110%;  
        transform: translate(-165%, -165%);
        font-size: 1.2em; */
    }   
    .flexparent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .flexchild {
        flex: 1 50%;
        margin-top: 1.2rem;
    }
    .hero-title {
        font-size: 5vw;
        padding-top: 40px;
        margin-top: 20px;
    }
}

